-f https://download.pytorch.org/whl/torch_stable.html
cryptography==42.0.4
easyocr
jupyter
langchain==0.1.12
langchain-cli
langchain_benchmarks
poetry
pyarrow
pydantic==1.10.13
pymupdf
qdrant-client==1.9.0
redis
sentence-transformers
unstructured
unstructured[all-docs]
