aiohttp==3.10.11
basicsr==1.4.2
docarray[full]
facexlib==0.3.0
fastapi==0.115.2
ffmpeg-python==0.2.0
gradio==4.38.1
gradio_client==1.1.0
grpcio==1.64.1
huggingface-hub==0.24.0
librosa==0.10.2
lmdb==1.5.1
numba==0.60.0
numpy==1.23.5
opencv-python==4.10.0.84
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
pandas==2.2.3
prometheus-fastapi-instrumentator==7.0.0
pyarrow==17.0.0
pydantic==2.9.2
pyyaml==6.0
scipy==1.14.0
shortuuid==1.0.13
tavily-python==0.5.0
tb-nightly==2.18.0a20240721
tqdm==4.66.4
yapf==0.40.2
