beautifulsoup4
detect_secrets
docarray[full]
easyocr
einops
fastapi
gibberish-detector
huggingface_hub
langchain
langchain-community
langsmith
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
phonenumbers
Pillow
prometheus-fastapi-instrumentator
pyarrow
pymupdf
python-docx
ray
redis
scikit-learn
sentence_transformers
shortuuid
virtualenv
