# Code owners will review PRs within their respective folders. 
# Typically, ownership is organized at the second-level subdirectory under the homepage
/comps/agent/ kaokao.lv@intel.com
/comps/finetuning/ xinyu.ye@intel.com
/comps/guardrails/ liang1.lv@intel.com
/comps/asr/ sihan.chen@intel.com
/comps/intent_detection/ liang1.lv@intel.com
/comps/cores/ liang1.lv@intel.com
/comps/dataprep/ xinyu.ye@intel.com
/comps/embeddings/ kaokao.lv@intel.com
/comps/guardrails/ letong.han@intel.com
/comps/llms/ liang1.lv@intel.com
/comps/lvms/ sihan.chen@intel.com
/comps/nginx/ letong.han@intel.com
/comps/prompt_registry/ hoong.tee.yeoh@intel.com
/comps/feedback_management/ hoong.tee.yeoh@intel.com
/comps/chathistory/ yogesh.pandey@intel.com
/comps/texttosql/ yogesh.pandey@intel.com
/comps/text2image/ xinyu.ye@intel.com
/comps/reranks/ kaokao.lv@intel.com
/comps/retrievers/ kaokao.lv@intel.com
/comps/tts/ sihan.chen@intel.com
/comps/ragas/ kaokao.lv@intel.com
/comps/vectorstores/ xinyu.ye@intel.com
/comps/web_retrievers/ sihan.chen@intel.com
/*/ liang1.lv@intel.com
