.fileInputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .upload {
    margin-left: 0.5rem;
  }

  .inputWrapper {
    padding: 1rem;
    text-align: center;
    box-shadow: none;
    border-radius: 8px;
    width: 100%;
    position: relative;
  }

  .expand {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    min-width: unset;
    border-width: 1px;
    border-style: solid;
    transition: transform 0.5s;
    transform: rotate(0deg);
    transform-origin: center;
    margin-left: -12.5px;
    margin-top: -20px;
    position: absolute;
    bottom: -12.5px;
    z-index: 8;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.previewFiles {
  margin-bottom: 0.5rem;

  .fileList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  label {
    margin-top: 0.5rem;
  }
}

.details {
  max-height: 0px;
  transition: max-height 0.4s;
  overflow: hidden;

  &.detailsOpen {
    max-height: 400px;
  }
}

.detailGap {
  margin-top: 10px;
}
