**/node_modules
**/.svelte-kit
**/package-lock.json
**/playwright-report/
**/playwright/.cache/
**/test-results/

__pycache__/
__MACOSX/CogniwareIms/frontend/public/images/._opea-stacked-logo-rwd.png
__MACOSX/CogniwareIms/frontend/public/._.DS_Store
__MACOSX/CogniwareIms/frontend/._.DS_Store
__MACOSX/CogniwareIms/backend/app/._.DS_Store
__MACOSX/CogniwareIms/backend/._.DS_Store
__MACOSX/CogniwareIms/._.DS_Store
