aiohttp
basicsr
docarray[full]
facexlib
fastapi
ffmpeg-python
gradio
gradio_client
grpcio
huggingface-hub
librosa
lmdb
numba
numpy
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
prometheus-fastapi-instrumentator
pyarrow
pydantic
pyyaml
scipy
shortuuid
tavily-python
tb-nightly
tqdm
yapf
