beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
html2text
huggingface_hub
langchain
langchain-community
langchain-text-splitters
langchain_huggingface
markdown
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pyspark
pytesseract
python-bidi
python-docx
python-pptx
redis
sentence_transformers
shortuuid
unstructured[all-docs]
uvicorn
