beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
huggingface_hub
langchain
langchain-community
langchain-text-splitters
langsmith
markdown
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pyspark
python-bidi==0.4.2
python-docx
python-pptx
redis
sentence_transformers
shortuuid
unstructured[all-docs]==0.11.5
