# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# this file should be run in the root of the repo
services:
  animation:
    build:
      dockerfile: comps/animation/src/Dockerfile
    image: ${REGISTRY:-opea}/animation:${TAG:-latest}
  wav2lip:
    build:
      dockerfile: comps/third_parties/wav2lip/src/Dockerfile
    image: ${REGISTRY:-opea}/wav2lip:${TAG:-latest}
  wav2lip-gaudi:
    build:
      dockerfile: comps/third_parties/wav2lip/src/Dockerfile.intel_hpu
    image: ${REGISTRY:-opea}/wav2lip-gaudi:${TAG:-latest}
