# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# this file should be run in the root of the repo
services:
  docsum:
    build:
      context: docker
      dockerfile: ./Dockerfile
    image: ${REGISTRY:-opea}/docsum:${TAG:-latest}
  docsum-ui:
    build:
      context: docker/ui
      dockerfile: ./docker/Dockerfile
    image: ${REGISTRY:-opea}/docsum-ui:${TAG:-latest}
  docsum-react-ui:
    build:
      context: docker/ui
      dockerfile: ./docker/Dockerfile.react
    image: ${REGISTRY:-opea}/docsum-react-ui:${TAG:-latest}
