# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

services:
  embedding-langchain-mosec-endpoint:
    build:
      dockerfile: comps/embeddings/mosec/langchain/dependency/Dockerfile
    image: ${REGISTRY:-opea}/embedding-langchain-mosec-endpoint:${TAG:-latest}
  embedding-langchain-mosec:
    build:
      dockerfile: comps/embeddings/mosec/langchain/Dockerfile
    image: ${REGISTRY:-opea}/embedding-langchain-mosec:${TAG:-latest}
  embedding-tei-llama-index:
    build:
      dockerfile: comps/embeddings/tei/llama_index/Dockerfile
    image: ${REGISTRY:-opea}/embedding-tei-llama-index:${TAG:-latest}
  embedding-multimodal-bridgetower-gaudi:
    build:
      dockerfile: comps/embeddings/multimodal/bridgetower/Dockerfile.intel_hpu
    image: ${REGISTRY:-opea}/embedding-multimodal-bridgetower-gaudi:${TAG:-latest}
  embedding-predictionguard:
    build:
      dockerfile: comps/embeddings/predictionguard/Dockerfile
    image: ${REGISTRY:-opea}/embedding-predictionguard:${TAG:-latest}
