# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# this file should be run in the root of the repo
services:
  faqgen:
    build:
      context: docker
      dockerfile: ./Dockerfile
    image: ${REGISTRY:-opea}/faqgen:${TAG:-latest}
  faqgen-ui:
    build:
      context: docker/ui
      dockerfile: ./docker/Dockerfile
    image: ${REGISTRY:-opea}/faqgen-ui:${TAG:-latest}
  faqgen-react-ui:
    build:
      context: docker/ui
      dockerfile: ./docker/Dockerfile.react
    image: ${REGISTRY:-opea}/faqgen-react-ui:${TAG:-latest}
