# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# this file should be run in the root of the repo
services:
  retriever-redis:
    build:
      dockerfile: comps/retrievers/redis/langchain/Dockerfile
    image: ${REGISTRY:-opea}/retriever-redis:${TAG:-latest}
  retriever-qdrant:
    build:
      dockerfile: comps/retrievers/qdrant/haystack/Dockerfile
    image: ${REGISTRY:-opea}/retriever-qdrant:${TAG:-latest}
  retriever-vdms:
    build:
      dockerfile: comps/retrievers/vdms/langchain/Dockerfile
    image: ${REGISTRY:-opea}/retriever-vdms:${TAG:-latest}
  retriever-multimodal-redis:
    build:
      dockerfile: comps/retrievers/multimodal/redis/langchain/Dockerfile
    image: ${REGISTRY:-opea}/retriever-multimodal-redis:${TAG:-latest}
