aiohttp
docarray[full]
easyocr
fastapi
httpx
langsmith
llama-index-vector-stores-redis
llama_index
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pymupdf
redis
sentence_transformers
shortuuid

