beautifulsoup4
cairosvg
decord
docarray[full]
docx2txt
easyocr
einops
fastapi
huggingface_hub
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown
numpy
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-proto==1.23.0
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
protobuf==4.24.2
pymupdf
pyspark
python-bidi==0.4.2
python-docx
python-pptx
PyYAML
sentence_transformers
shortuuid
tqdm
typing
tzlocal
unstructured[all-docs]==0.11.5
uvicorn
vdms>=0.0.20
