beautifulsoup4
docarray[full]
easyocr
fastapi
huggingface_hub
langchain
langchain-community
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
python-docx
qdrant-client
sentence_transformers
shortuuid
