* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Uncomment the following line to disable whether the user can select and copy text */
  /*user-select: none;*/
}

html {
  font-size: 16px;
  font-family: "IntelOneText", sans-serif !important;

  @media screen and (min-width: 2500px) {
    font-size: 24px;
  }

  @media screen and (max-width: 2500px) {
    font-size: 18px;
  }

  @media screen and (max-width: 1366px) {
    font-size: 12px;
  }
}
