beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
future
graspologic 
html2text
huggingface_hub
ipython
langchain
langchain-text-splitters
langchain_community
llama-index 
llama-index-core
llama-index-embeddings-text-embeddings-inference
llama-index-llms-openai
llama-index-llms-text-generation-inference
llama_index_graph_stores_neo4j==0.3.3
markdown
neo4j
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pytesseract
python-docx
python-pptx
scipy
sentence_transformers
shortuuid
unstructured[all-docs]==0.15.7
uvicorn
