@import "../../../styles/styles";

.code {
  margin: 7px 0px;
  .codeHead {
    background: #379af1;

    padding: 0px 10px !important;
    @include flex(row, nowrap, center, space-between);
    .codeTitle {
    }
    .codeActionGroup {
      @include flex(row, nowrap, center, flex-start);
    }
  }
  .codeHighlighterDiv {
    margin: 0px !important;
  }
}

.inlineCode {
  background: #d7d7d7;
}
