beautifulsoup4
docarray
docarray[full]
easyocr
fastapi
huggingface_hub
langchain
langchain_community==0.2.5
langchain_openai
langchainhub
neo4j
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
python-docx
redis
sentence-transformers
shortuuid
tiktoken
uvicorn
