aiohttp
datasets
docarray
fastapi
httpx
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
peft
prometheus-fastapi-instrumentator
pydantic==2.8.2
pydantic_yaml
python-multipart
pyyaml
ray[all]
requests
shortuuid
transformers
uvicorn
