beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
frontend==0.0.3
huggingface_hub
langchain
langchain-community
langchain-text-splitters
langchain_milvus
markdown
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pydantic==2.7.3
pymilvus==2.4.3
pymupdf==1.24.5
python-docx==0.8.11
python-pptx
sentence_transformers
shortuuid
unstructured[all-docs]==0.11.5
