docarray[full]
easyocr
fastapi
langchain-community
langchain-elasticsearch
langchain-huggingface
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator==7.0.0
pymupdf
sentence_transformers
shortuuid
uvicorn
