docarray[full]
fastapi
huggingface_hub
langchain
langchain_community
langchain_openai
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
ray[serve]>=2.10
shortuuid
transformers
