docarray[full]
fastapi
# Fix for issue with langchain-huggingface not using InferenceClient `base_url` kwarg
huggingface-hub<=0.24.0
langchain-community
langchain-huggingface
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
shortuuid
uvicorn
