docarray[full]
fastapi
langchain==0.1.12
langchain_benchmarks
moviepy
openai-whisper
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
Pillow
prometheus-fastapi-instrumentator
pydantic==2.8.2
python-multipart
redis
shortuuid
transformers
uvicorn
webvtt-py
