chardet
# funasr==1.0.0
cn2an
# gradio==3.38.0
# gradio_client==0.8.1
ffmpeg-python
g2p_en
jieba
jieba_fast
LangSegment>=0.2.0
# tensorboard
librosa==0.9.2
numba==0.56.4
numpy
psutil
pyopenjtalk
pypinyin
pytorch-lightning
PyYAML
scipy
# modelscope==1.10.0
sentencepiece
torchaudio
# onnxruntime
tqdm
transformers
# Faster_Whisper
wordsegment
