# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# [IP_ADDR]:{PORT_OUTSIDE_CONTAINER} -> {PORT_INSIDE_CONTAINER} / {PROTOCOL}
global:
  scrape_interval: 5s
  external_labels:
    monitor: "my-monitor"
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["opea_prometheus:9090"]
  - job_name: "vllm"
    metrics_path: /metrics
    static_configs:
      - targets: ["codetrans-xeon-vllm-service:80"]
  - job_name: "codetrans-backend-server"
    metrics_path: /metrics
    static_configs:
      - targets: ["codetrans-xeon-backend-server:7777"]
  - job_name: "prometheus-node-exporter"
    metrics_path: /metrics
    static_configs:
      - targets: ["node-exporter:9100"]
