docarray[full]
fastapi
huggingface_hub
langsmith
llama-index 
llama-index-embeddings-huggingface==0.2.0
llama-index-readers-file
llama-index-vector-stores-redis
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
python-bidi==0.4.2
redis
sentence_transformers
shortuuid
