beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
huggingface_hub
langchain
langchain-community
langchain-experimental
langchain-openai
langchain-text-splitters
langchain_huggingface
markdown
neo4j
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
python-docx
python-pptx
sentence_transformers
shortuuid
unstructured[all-docs]==0.15.7
uvicorn

