docarray[full]
easyocr
fastapi
haystack-ai==2.3.1
langchain_community
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus_fastapi_instrumentator
pymupdf
qdrant-haystack
sentence_transformers
shortuuid
uvicorn
