bs4
cairosvg
docarray[full]
docx2txt
fastapi
frontend
future
graspologic 
huggingface_hub
langchain
langchain-community
llama-index-core
llama-index-embeddings-openai
llama-index-embeddings-text-embeddings-inference
llama-index-llms-openai
llama-index-llms-text-generation-inference
llama_index_graph_stores_neo4j==0.3.3
neo4j
numpy
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pydantic
pymupdf
pytesseract
python-docx
python-multipart
python-pptx
sentence_transformers
shortuuid
tiktoken
uvicorn
