beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
huggingface_hub
langchain
langchain-community
langsmith
markdown
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
pgvector==0.2.5
Pillow
prometheus-fastapi-instrumentator==7.0.0
psycopg2-binary
pymupdf
python-docx
python-pptx
sentence_transformers
shortuuid
