beautifulsoup4
docarray[full]
easyocr
fastapi
huggingface_hub
langchain
langchain-community
langchain-huggingface
langchain-pinecone
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
pinecone-client
prometheus_fastapi_instrumentator
pymupdf
python-docx
sentence_transformers
shortuuid
uvicorn
