beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
elasticsearch
fastapi
huggingface_hub
langchain
langchain-community
langchain-elasticsearch
langchain-huggingface
langchain-text-splitters
markdown
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pytesseract
python-bidi
python-docx
python-pptx
sentence_transformers
shortuuid
unstructured[all-docs]
uvicorn
