beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
html2text
huggingface_hub
langchain
langchain-community
langchain-text-splitters
langchain_milvus
markdown
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pyspark
pytesseract
python-docx
python-pptx
sentence_transformers
shortuuid
tiktoken
unstructured[all-docs]==0.15.7
uvicorn
