docarray[full]
fastapi
frontend
huggingface_hub
langchain
langchain-community
neo4j
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pydantic
pymupdf
python-docx
sentence_transformers
shortuuid
tiktoken
uvicorn
