docarray[full]
fastapi
frontend==0.0.3
huggingface_hub
langchain==0.2
langchain-community
neo4j
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pydantic==2.7.3
pymupdf==1.24.5
python-docx==0.8.11
sentence_transformers
shortuuid
tiktoken
uvicorn
