beautifulsoup4
docx2txt
intel-extension-for-pytorch
intel-openmp
jupyter
langchain==0.1.12
langchain-cli
langchain_benchmarks
poetry
pyarrow
pydantic==1.10.13
pypdf
python-multipart
sentence-transformers
