beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
html2text
huggingface_hub
langchain
langchain-community
langchain-openai
langchain-pinecone
langchain-text-splitters
markdown
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
pinecone-client
prometheus-fastapi-instrumentator
pymupdf
pyspark
pytesseract
python-bidi==0.4.2
python-docx
python-pptx
sentence_transformers
shortuuid
unstructured[all-docs]==0.15.7
uvicorn
