# OPEA
beautifulsoup4

# microservice
decord
docarray
einops
faiss-cpu
fastapi
ftfy
iopath
langchain
langchain-community
langchain-core
numpy
omegaconf
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus_fastapi_instrumentator
pytorchvideo
sentence-transformers
sentencepiece
shortuuid
timm
torch==1.13.1 --index-url https://download.pytorch.org/whl/cpu
torchaudio==0.13.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.14.1 --index-url https://download.pytorch.org/whl/cpu
transformers
uvicorn
validators
webdataset
werkzeug

