.results-card {
  $font-family: "IntelOneDisplay", "sans-serif" !important;

  display: block !important;
  position: relative;
  border: 0.125rem solid white;
  height: calc(100vh - 9.5rem);

  &#with-rag {
    outline: 0.125rem solid white;
    outline-offset: 0.5rem;
    border: 0.125rem solid #00c7fd;

    & .with-rag-lock-icon {
      background-color: #242528;
      inline-size: 2rem;
      block-size: 2.5rem;
      position: absolute;
      bottom: -1.25rem;
      left: calc(50% - 1rem);
      border: 0.25rem solid white;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        color: #00c7fd;
        inline-size: 2rem;
      }
    }
  }

  .results-card-content {
    height: 100%;
    display: grid;
    grid-template-rows: 3.5rem 1fr;
  }

  .results-card-header {
    color: #2e2f32;
    padding-block: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.without-rag {
      background-color: #eec3f7;
    }

    &.with-rag {
      background-color: #00c7fd;
    }

    .results-card__title {
      font-size: 1.5rem !important;
      font-family: $font-family;

      & span[role="img"] {
        margin-right: 0.5rem;
      }
    }
  }

  .results-card__results-list-wrapper {
    position: relative;
    color: white;
    background-color: #1f2029;
    text-align: left;
    word-break: break-all;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #8e9099 rgba(142, 144, 153, 0.15);
    scrollbar-width: thin;
    font-size: 1rem !important;

    & span {
      display: block;
      font-family: $font-family;
    }

    & .results-card__results-list {
      padding: 1.5rem 1.5rem 5.5rem;

      & hr.response-divider {
        border-color: #8e9099;
        margin-block: 2rem;
      }
    }
  }

  .results-card__logos {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    max-height: 5.25rem;
    border: 0.125rem solid white;
    padding: 0.5rem;
    background-color: #1f2029;

    img {
      $cpu-logo-size: 4rem !important;
      block-size: $cpu-logo-size;
      inline-size: $cpu-logo-size;
      border: 0.125rem solid white;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &.redis-logo {
        border: none;
        inline-size: 8rem !important;
        block-size: 4rem !important;
        padding-inline: 0.5rem;
      }
    }
  }
}
