# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# Test
name: Build latest images on push event

permissions:
  actions: read
  contents: read
  checks: read
  deployments: read
  discussions: read
  issues: read
  packages: read
  pages: read
  pull-requests: read
  repository-projects: read
  statuses: read
  security-events: read
  id-token: write
  attestations: read
  models: read

on:
  push:
    branches: [ 'main' ]
    paths:
      - "**.py"
      - "**Dockerfile*"
      - "**docker_image_build/build.yaml"
      - "**/ui/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-on-push
  cancel-in-progress: true

jobs:
  job1:
    uses: ./.github/workflows/_get-test-matrix.yml
    with:
      test_mode: "docker_image_build"

  image-build:
    permissions:
      actions: read
      attestations: read
      checks: read
      discussions: read
      models: read
      repository-projects: read
      id-token: write
      contents: read
      issues: write
      pages: write
      pull-requests: write
      security-events: read
    needs: job1
    if: ${{ needs.job1.outputs.run_matrix != '{"include":[]}' }}
    strategy:
      matrix: ${{ fromJSON(needs.job1.outputs.run_matrix) }}
      fail-fast: false
    uses: ./.github/workflows/_example-workflow.yml
    with:
      node: gaudi
      example: ${{ matrix.example }}
    secrets: inherit
