docarray[full]
easyocr
fastapi
langchain_community
langchain_huggingface
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
pymupdf
redis
sentence_transformers
shortuuid
transformers
uvicorn
