beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
html2text
huggingface_hub
langchain
langchain-community
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pyarrow
pymupdf
pytesseract
python-bidi==0.4.2
python-docx
python-multipart
python-pptx
ray
redis
sentence_transformers
shortuuid
unstructured[all-docs]==0.15.7
uvicorn
virtualenv
