beautifulsoup4
docarray[full]
easyocr
fastapi
huggingface_hub
langchain
langchain-community
langsmith
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
pyarrow
pymupdf
python-docx
ray
redis
sentence_transformers
shortuuid
virtualenv
